rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // User profile documents
    match /users/{userId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    // Journals collection
    match /journals/{journalId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    // Global or school settings
    match /settings/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
